/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


.carousel-img {
    width: 100%;
    height: auto;
}

.body-background {
    /* Изначальный мой фон */
/*    background: linear-gradient(90deg,#ed2ef7 13%,#ed2ef7 40%,#207cca 69%,#84ebf4 100%);*/
    /* Фиол голубой фон */
    /*    background: -webkit-linear-gradient(90deg, #962eec,#0090ff,#3abbe5);
    background: linear-gradient(90deg, #962eec,#0090ff,#3abbe5);*/

/*    background: -webkit-linear-gradient(90deg, #c511a8,#491174);
    background: linear-gradient(90deg, #c511a8,#491174);*/
}

/*@media only screen and (max-width: 480px) {
    img {
        width: 100%;
        height: 100%;
    }
}*/


.carousel-block {
    margin-left: auto;
    margin-right: auto;
}


.cataloge-img {
    max-width: 165px;
    width: 100%;
    height: auto;
    padding: 10px;
    margin:10px;
}

.order_total {
    width: 100%;
    height: 60px;
    margin-top: 30px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-right: 46px;
    padding-left: 15px;
    background-color: #fff;
}

.order_total_title {
    display: inline-block;
    font-size: 14px;
    color: black;
    line-height: 60px;
}

.order_total_amount {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 26px;
    line-height: 60px;
}

.cart_buttons {
    margin-top: 60px;
    text-align: right;
}


.ordertable {
    background-color: rgb(147 51 234);
}

.ordertable2 {
    background-color: rgb(192 132 252);
}

.cell-1 {
    border-collapse: separate;
    border-spacing: 0 4em;
    background: #fff;
    border-bottom: 5px solid transparent;
    background-clip: padding-box;
}

.btn-block-size {
    width: 30px;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
