{% extends "app/layout.html" %}

{% block content %}

{% if items|length != 0 %}

<div>{{title}} - Заказ #{{order.id}}</div>

<table class="table tabel-bordered table-hover ">
    <thead>
        <tr class="text-center">
            <th>Изображение товара</th>
            <th>Название</th>
            <th>Количество</th>
            <th>Цена за товар</th>
            <th>Цена за все товары</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr class="align-middle text-center">
            <th><img class="cataloge-img" src="{{item.product.image.url}}"></th>
            <th>{{item.product.name}}</th>
            <th>
                <div>

                    <a class="btn btn-warning col-md-3" href="{% url 'quantity_plus' %}?item={{item.id}}">+</a>
                    <div>{{item.quantity}}</div>
                    <a class="btn btn-warning col-md-3" href="{% url 'quantity_minus' %}?item={{item.id}}">-</a>
                </div>
            </th>
            <th>{{item.product.price}}</th>
            <th>{{item.price_quantity}}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="order_total">
    <div class="order_total_content text-md-right">
        <div class="order_total_title">Общая стоимость:</div>
        <div class="order_total_amount">{{order.total_price}}</div>
    </div>
</div>
<div class="cart_buttons">
    <a href="{% url 'catalog' %}" class="btn btn-outline-warning">Продолжить покупки</a>
    <a id="liveToastBtn" href="{% url 'deal_order' %}?order={{order.id}}" class="btn btn-success {% if order == None %} disabled {% endif %}">Оформить заказ</a>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Bootstrap</strong>
            <small>11 мин назад</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
        </div>
        <div class="toast-body">
            Привет, мир! Это тост-сообщение.
        </div>
    </div>
</div>

{% else %}
<div class="text-center">
    <div class="order_total_title alert alert-success">{{message}}</div>
    <br />
    <div class="order_total_title alert alert-warning"> Перейдите в раздел "Мои заказы" чтобы увидеть подробности </div>
</div>
{% endif %}



{% endblock %}