{% extends "app/layout.html" %}
{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    улица Алтаева, 1А<br />
    Псков, RU<br />
    <abbr title="Номера телефона">Тел:</abbr>
    610-559 <br />
    610-558
</address>

<address>
    <strong>Техническая поддержка::</strong>   <a href="mailto:Support@example.com">artmic2011@yandex.ru</a><br />
    <strong>Отдел маркетинга:</strong> <a href="mailto:Marketing@example.com">artmic2011@yandex.ru</a>
</address>

{% endblock %}
