{% extends "app/layout.html" %}
{% load static %}
{% block content %}
{% if form != None %}
<h2>Отправьте пожалуйста заполненную анкету</h2>
<br>



<div>
    <form class="mb-3" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="{{ form.name.id_for_label }}">{{ form.name.label}}:</label>
            {{ form.name }}
        </div>
        <div class="mb-6" >
            <label for="{{ form.gender.id_for_label }}">{{ form.gender.label}}:</label>
            {{ form.gender }}
        </div>
        <label for="{{ form.age.id_for_label }}">{{ form.age.label}}:</label>
        {{ form.age }} <br />
        <label for="{{ form.message.id_for_label }}">{{ form.message.label}}:</label>
        {{ form.message }} <br />
        <label for="{{ form.email.id_for_label }}">{{ form.email.label}}:</label>
        {{ form.email }} <br />
        <input id="sub" type="submit" value="Отправить" />

    </form>
</div>
{% else %}
<br>
<h2>Благодарим за предотавленную информацию!</h2>
<h3>Вы сообщили о себе следущее:</h3>
<ul>
    <li><span>Имя:</span> {{ data.name }}</li>
    <li><span>Пол:</span> {{ data.gender }}</li>
    <li><span>Ваш возраст:</span> {{ data.age }}</li>
    <li><span>Ваше сообщение:</span> {{ data.message }}</li>
    <li><span>Ваш email:</span> {{ data.email }}</li>
</ul>

{% endif %}
{% endblock %}