{% if user.is_authenticated %}
<form id="logoutForm" action="/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">Здравствуйте {{ user.username }}!</span></li>
        <li><a class="btn btn-danger" href="javascript:document.getElementById('logoutForm').submit()">Выйти из системы</a></li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a class="navbar-brand" href="{% url 'login' %}">Авторизация</a></li>
    {% if not user.is_authenticated %}
    <li class="nav-item">
        <a class="navbar-brand" href="{% url 'registration' %}">Регистрация</a>
    </li>
    {% endif %}
</ul>

{% endif %}
