{% extends "app/layout.html" %}

{% block content %}


<div>{{title}} - Заказ #{{order.id}}</div>

<table class="table tabel-bordered table-hover ">
    <thead>
        <tr class="text-center">
            <th>Изображение товара</th>
            <th>Название</th>
            <th>Количество</th>
            <th>Цена за товар</th>
            <th>Цена за все товары</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr class="align-middle text-center">
            <th><img class="cataloge-img" src="{{item.product.image.url}}"></th>
            <th>{{item.product.name}}</th>
            <th>
                <a class="text-start btn" href="{% url 'quantity_plus_order' %}?item={{item.id}}&order={{order.id}}">+</a>
                <div>{{item.quantity}}</div>
                <a class="text-end btn {% if item.quantity == 1 %} disabled {% endif %}" href="{% url 'quantity_minus_order' %}?item={{item.id}}&order={{order.id}}">-</a>
            </th>
            <th>{{item.product.price}}</th>
            <th>{{item.price_quantity}}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="order_total">
    <div class="order_total_content text-md-right">
        <div class="order_total_title">Общая стоимость:</div>
        <div class="order_total_amount">{{order.total_price}}</div>
    </div>
</div>
<div class="cart_buttons">
    <a href="{% url 'orders_profile' %}" class="btn btn-outline-warning">Вернуться к заказам</a>
    <a href="{% url 'order_delete' item=order.id %}" class="btn btn-danger btn-xs">Отменить заказ</a>
</div>


{% endblock %}